/***************/
.hide{
  display: none !important;
}
.green{
  color: green;
}

.red{
  color: red;
}

#login-form button{
  font-size: 2rem;
}

#loginPopIn{
    width: 90%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 2em;
}

.hide{
  display: none;
}

.show{
  display: block;
}
.selectBoxes{
  float: right;
}

@-webkit-keyframes rollrightanimation {
    100% {
         left:500px;
         opacity: 0;
    }
}
.rollRight{
  -webkit-animation: rollrightanimation 2s forwards;
    animation: rollrightanimation 2s forwards;
}


@-webkit-keyframes appearanimation {
    100% {
        opacity: 100;
        filter: alpha(opacity=100);
    }
}
.appear{
  -webkit-animation: appearanimation 5s forwards;
    animation: appearanimation 5s forwards;
}


#displaySearchButton{
  position:absolute;
  left:50px;
  width: 300px;
}

#formContainer{
  opacity: 0;
  filter: alpha(opacity=0);
  display: none;
}

#cancelSearch{
  color:red;
}
/******************/


/**** PARAMS ***/

.dayPickers{
  width: 100%;
  margin-bottom: 20px;
}
.dayHourPicker{
  display:inline-block;
  width: 100%;
}
.selectPickers{
  display:inline-block;
}
/***************/


.success{
  color:green;
}

#res{
  top: -20px;
  position: relative;
  z-index:-1;
}

.animate{
    -webkit-animation: animate 2s forwards;
    animation: animate 2s forwards;  
}


@-webkit-keyframes animate {
    100% {
         top:5px;
         z-index: 1;
    }
}

#searchFormContainer{
  width:100%;
  margin-bottom: 10px;
  min-height: 20px;
  z-index:10;
  background-color: white;
}

.col{
  /*width:20%;*/
  float: left;
  margin-right: 10px;
}


.col span{
  font-size: 0.8em;
  font-style: italic;
}

#notConnected {
    position: relative;
    right: 0px;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}

#homecontent{

}

#dispoDay{
  display: none;
}
#dispoDayDetail{
display: none;
}
#duree{
  /*display: none;*/
}

#bookablePeriods{
  width: 80%;
}
#message{
  width:50%;
}

#notConnected{
width: 200px;
transition: 1s;
right: 0px;
}


#notConnected:hover{
  transition: 1s;
  right: 10px;
  cursor: pointer;
}


.search_result, .search_result:visited{
  color:grey;
  margin-right: 5px;
   border-right-style: solid 1px grey;
}

#login-form{
  display: none;
  text-align: center;
}

.search_result{
  text-decoration: none;
}

.search_result:hover{
  color:red;
}

.error{
  color:red;
}

.errorInput{
  border-color: red;
}

#creneauForm{
  font-style: italic;
  color: #897048;
}

#disconnect{
  color:red;
  background: none;
  border:none;
}

#login-container{
position:absolute;
top:10px;
right: 10px;
}

.waitingimg{
  width: 40px;
}

#account-content .waitingimg{
  width: 120px;
}

#account-content #login-container{
    position: initial;
    text-align: center;
    font-size: 3em;
}

#account-content #notConnected{
    width: 100%;
    text-align: center;
}

#account-content button{
  font-size: 0.5em;
}

#reserver{
  font-size: 20px;
  font-weight: bold;
  float: right;
}
#cancel{
  color:red;
  font-weight: bold;
  float: left;
}

button{
  font-size:0.8em !important;
  margin-right: 10px !important;
}
#content{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	display: table;
}

#calendrier{
	display: table-cell;
}

#book_bar{
	padding-left: 45px;
	display: table-cell;
	width: 5%;
}

#event-form{
    margin-top:20px;
}

#title{
  margin-bottom: 20px;
}

#form-container{
  border-radius: 10px;
  border: 4px black solid;
  padding:5px;
  position: absolute;
   background-color: rgba(255, 255, 255, 0.9);
    z-index: 1000;
    width: 300px;
        -moz-border-bottom-colors:#897048 #917953 #a18a66 #b6a488 #c5b59b #d4c5ae #e2d6c4 #eae1d2;
  -moz-border-top-colors:  #897048 #917953 #a18a66 #b6a488 #c5b59b #d4c5ae #e2d6c4 #eae1d2;
  -moz-border-left-colors: #897048 #917953 #a18a66 #b6a488 #c5b59b #d4c5ae #e2d6c4 #eae1d2;
  -moz-border-right-colors:#897048 #917953 #a18a66 #b6a488 #c5b59b #d4c5ae #e2d6c4 #eae1d2;
}

#close-form{
	color:red;
	font-weight: bold;
	font-size: 14px;
	float: right;
	cursor: pointer;
}

.text{
	display: none;
	color: white;
    font-size: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 5px;
    /*left: 25%;*/
    font-weight: bold;
    padding-left: 20px;
}

#options{
  margin-top: 10%;
  width: 90%;
  text-align: center;

}

#options ul{
  display:table-row;
}

#options li{
  /*display:table-cell;*/
  display: inline-block;
  text-align: center;
  list-style: none;
  margin-left: 20px;
  width: 30%;
  height: 200px;
  vertical-align: middle;


}

#options li a{
  text-align: center;
  list-style: none;
  text-decoration: none;
}

#options li a {
    color:black;
  }

  @-webkit-keyframes bigger {
     0% {
        font-size: 1em;
    }
    100% {
         font-size: 1.2em;
    }
}
@-moz-keyframes bigger {
     0% {
        font-size: 1em;
    }
    100% {
         font-size: 1.2em;
    }
}
@-o-keyframes bigger {
    0% {
        font-size: 1em;
    }
    100% {
         font-size: 1.2em;
    }
}

#options li:hover{
    font-size: 1.2em;

    -webkit-animation: bigger 0.5s linear;
    -webkit-animation-iteration-count: 1;
    -moz-animation: bigger 0.5s linear;
    -moz-animation-iteration-count: 1;
    -o-animation: bigger 0.5s linear;
    -o-animation-iteration-count: 1;
  }

#options li a:hover .fa{
  text-shadow: 5px 5px 9px #444;
}
#options li:first-of-type a:hover {
  color:orange;
}
#options li a:hover {
  color:red;
}
#options li:last-of-type a:hover{
  color:blue;
}

#options li .fa{
  display: block;
    font-size: 3em;
    margin:10px;
}

h1 a{
  text-decoration: none;
}

.normalForm{
  width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .panel-title{
    display: inline-block;
    vertical-align: middle;
  }

  .row .label{
        display: inline-block;
    margin-left: 20px;
    top: 0px;
    right: 15px;
  }

  .row .panel{
    height: 193px;
  }

  .row .jumbotron{
    height: 200px;
    color: black;
  }

  .row .jumbotron a{
    color: black;
  }

  .row .jumbotron a:hover{
     text-shadow:#FFF 3px 5px 2px;
  }

  .ficon-10x .fa{
    font-size: 10rem;
  }

  #createUserAccount-content{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .rotate {

/* Safari */
-webkit-transform: rotate(-45deg);

/* Firefox */
-moz-transform: rotate(-45deg);

/* IE */
-ms-transform: rotate(-45deg);

/* Opera */
-o-transform: rotate(-45deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}


/***** ANIM ****/
body{
     

    }
    .button-line { height: 300px; background: url(http://lesnoces.de/img/header/jar-line.png) repeat-y 28px; }
    .mybutton {width: 56px;}
    .button-jar {
        height: 144px;
        display: block;
        background: url(http://lesnoces.de/img/header/jar.png) no-repeat;
        color: #777;
        text-decoration: none;
        opacity: .5;
        transition: opacity .5s ease;
        -webkit-transition: opacity .5s ease;
        -moz-transition: opacity .5s ease;
        -ms-transition: opacity .5s ease;
        -o-transition: opacity .5s ease;
    }
    .button-jar img {
        display: block;
        padding-top: 75px;
    }

    .mybutton {
    left: 0px;
    animation: swinging-us 3.5s infinite ease-in-out;
    -webkit-animation: swinging-us 3.5s infinite ease-in-out;
    -moz-animation: swinging-us 3.5s infinite ease-in-out;
    -ms-animation: swinging-us 3.5s infinite ease-in-out;
    -o-animation: swinging-us 3.5s infinite ease-in-out;
}

#bg1 { background-image: url(/calendarbg.jpg);}
#bg2 { 
  background-image: url(http://vickiarcher.com/wp-content/uploads/2015/09/digital-self-new-york-secretary-hulton-archive-vicki-archer-2.jpg); 
}

.section-bg{
  width: 100%;
  height: 120vh;
  z-index: -1;
  background-size: 100% 100%;
    background-repeat: no-repeat;

}



            @-webkit-keyframes swinging-us {
    0% { -webkit-transform: rotate(-0.5deg); }
    50% { -webkit-transform: rotate(0.5deg); }
    100% { -webkit-transform: rotate(-0.5deg); }
}
            @-moz-keyframes swinging-us {
    0% { -moz-transform: rotate(-0.5deg); }
    50% { -moz-transform: rotate(0.5deg); }
    100% { -moz-transform: rotate(-0.5deg); }
}
            @-ms-keyframes swinging-us {
    0% { -ms-transform: rotate(-0.5deg); }
    50% { -ms-transform: rotate(0.5deg); }
    100% { -ms-transform: rotate(-0.5deg); }
}
            @-o-keyframes swinging-us {
    0% { -o-transform: rotate(-0.5deg); }
    50% { -o-transform: rotate(0.5deg); }
    100% { -o-transform: rotate(-0.5deg); }
}
.animated, fa .animated{
  position: fixed;
  top:40%;
  display: none;
}

#test{
  background-color: red;
  height: 100px;
  width: 100px;
}
.text{
  width: 40%;
  color: black;
}
#clock {
  font-size: 5rem;
  color: red;
}
html{
  height: 2000px;
}
#clock{
  z-index: 1;
}
#agenda{
  z-index: 2;
}
#calendar_icon {
  font-size: 10rem;
  left: -100px;
  
}

#bg2
{
 
}


.textbg{
  /*background-color: rgba(255,255,255,0.4);*/
  z-index:-1;
  width: 100%;
  height: 100%;
  position : absolute;
  border: 2px solid white;
    border-radius: 25px;
    left: 0px;
    -webkit-filter: blur(5px); /* Chrome, Safari, Opera */
    filter: blur(50px);
    background-color: rgba(255, 255, 255,0.5);
 /* background-color: rgba(255, 255, 255);
  box-shadow: 8px 8px 12px #aaa;*/
}

nav{
      position: absolute;
    left: 10px;
    top: 0px;
    z-index: 5;
}
.connect{
  border-color: #337ab7 !important;
  margin-right: 10px;
}
#connectbuttons a{
  float: right;
}
#connectbuttons{
  z-index: 1;
  position: absolute;
  padding-top: 20px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 80px;
    background-color: rgba(255,255,255,0.5);

}

.connect:hover{
  color:white !important;
  background-color: #337ab7;
  }

#react-view{
  margin-top: 80px;
}

#account-content{

}

.ficon-5x{

  font-size: 5rem;
}

.container{
  width: 100%;
}
