/***************/
.selectBoxes{
  float: right;
}

@-webkit-keyframes rollrightanimation {
    100% {
         left:500px;
         opacity: 0;
    }
}
.rollRight{
  -webkit-animation: rollrightanimation 2s forwards;
    animation: rollrightanimation 2s forwards;
}


@-webkit-keyframes appearanimation {
    100% {
        opacity: 100;
        filter: alpha(opacity=100);
    }
}
.appear{
  -webkit-animation: appearanimation 5s forwards;
    animation: appearanimation 5s forwards;
}


#displaySearchButton{
  position:absolute;
  left:50px;
  width: 300px;
}

#formContainer{
  opacity: 0;
  filter: alpha(opacity=0);
  display: none;
}

#cancelSearch{
  color:red;
}
/******************/



.success{
  color:green;
}

#res{
  top: -20px;
  position: relative;
  z-index:-1;
}

.animate{
    -webkit-animation: animate 2s forwards;
    animation: animate 2s forwards;  
}


@-webkit-keyframes animate {
    100% {
         top:5px;
         z-index: 1;
    }
}

#searchFormContainer{
  width:100%;
  margin-bottom: 10px;
  min-height: 20px;
  z-index:10;
  background-color: white;
}

.col{
  /*width:20%;*/
  float: left;
  font-size: 0.8em;
  margin-right: 10px;
}

.col span{
  font-size: 0.5em;
  font-style: italic;
}

#notConnected {
    position: absolute;
    right: 0px;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}


#dispoDay{
  display: none;
}
#dispoDayDetail{
display: none;
}
#duree{
  display: none;
}

#notConnected{
width: 200px;
transition: 1s;
right: 0px;
}


#notConnected:hover{
  transition: 1s;
  right: 10px;
  cursor: pointer;
}


.search_result, .search_result:visited{
  color:grey;
  margin-right: 5px;
   border-right-style: solid 1px grey;
}

#login-form{
  display: none;
}

.search_result{
  text-decoration: none;
}

.search_result:hover{
  color:red;
}

.error{
  color:red;
}

#creneauForm{
  font-style: italic;
  color: #897048;
}

#disconnect{
  color:red;
}

#login-container{
position:absolute;
top:10px;
right: 10px;
}

#reserver{
  color:green;
  font-size: 20px;
  font-weight: bold;
  float: right;
}
#cancel{
  color:red;
  font-size: 15px;
  font-weight: bold;
  float: left;
}

#content{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	display: table;
}

#calendrier{
	display: table-cell;
}

#book_bar{
	padding-left: 45px;
	display: table-cell;
	width: 5%;
}

#event-form{
    width: 300px;
    margin-top:20px;
}

#form-container{
  border-radius: 10px;
  border: 4px black solid;
  padding:5px;
  display: none;
  position: absolute;
   background-color: rgba(255, 255, 255, 0.9);
    z-index: 1000;
    width: 300px;
        -moz-border-bottom-colors:#897048 #917953 #a18a66 #b6a488 #c5b59b #d4c5ae #e2d6c4 #eae1d2;
  -moz-border-top-colors:  #897048 #917953 #a18a66 #b6a488 #c5b59b #d4c5ae #e2d6c4 #eae1d2;
  -moz-border-left-colors: #897048 #917953 #a18a66 #b6a488 #c5b59b #d4c5ae #e2d6c4 #eae1d2;
  -moz-border-right-colors:#897048 #917953 #a18a66 #b6a488 #c5b59b #d4c5ae #e2d6c4 #eae1d2;

}

#close-form{
	color:red;
	font-weight: bold;
	font-size: 14px;
	float: right;
	cursor: pointer;
}

.text{
	display: none;
	color: white;
    font-size: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 5px;
    left: 25%;
}